.token-img {
    width: 128px;
    height: 128px;
    object-fit: cover;
}

.character-sheet-body {
    height: 100%;
    overflow-y: auto;
}

.origin-sheet-body {
    height: 100%;
    overflow-y: auto;
}
