.token-img {
  width: 128px;
  height: 128px;
  object-fit: cover;
}

.character-sheet-body {
  height: 100%;
  overflow-y: auto;
}

.origin-sheet-body {
  height: 100%;
  overflow-y: auto;
}

.all-caps {
  text-transform: uppercase;
}

.abilities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.ability {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ability input {
  text-align: center;
}
